streamlit
pandas
plotly
pymongo
toml
requests-cache
retry-requests
openmeteo-requests
statsmodels
scipy
scikit-learn
shapely
folium
streamlit-folium
streamlit-plotly-events
matplotlib
windrose
branca
pathlib
typing
st-pages>=0.4.5